@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Debleena's Website</h1>
    <p>to learn more about <a href="https://bcrec.ac.in/">BCREC</a>please click.</p>
</div>
